@media (min-width: 769px) {
  
  /* App view */
  #appView {
    display: block;
  }

  /* Sidebar */
  #sideBar {
    display: block;
  }

  .appTitle {
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
    /* letter-spacing: 2px; */
  }

  .appTitle_small{
    display: none;
  }

  .sideBarTitle_small{
    display: none;
  }

  #sideBarToggle {
    display: none;
  }

  .sideBarBackground {
    height: calc(100vh - 60px);
  }

  /* Topbar */
  .topBarSmallViewOptions {
    display: none;
  }

  /* Tables */
  table tbody tr td {
    font-size: 0.9rem;
  }
}