/* Media Queries for all */

/* Mobile View */
@media (max-width: 769px) {

    .login-cover {
        display: none;
    }

    /* Login */
    .login-form .login-options {
        width: 100% !important;
    }

    /* App view */
    #appView {
        display: block;
    }

    /* Sidebar */
    #sideBar {
        width: 100%;
        height: fit-content;
        display: none;
    }

    .appTitle_large {
        display: none;
    }

    .appTitle {
        font-size: 22px;
        font-weight: 700;
        padding-top: 10px;
        /* letter-spacing: 2px; */
    }

    /* Topbar */
    .topBar .icon {
        padding-top: 20px;
        font-size: 20px;
        vertical-align: middle;
        color: var(---primary-icon-color);
    }

    .topBarLargeViewOptions {
        display: none;
    }

    .topBarSmallViewOptions {
        display: block;
    }

    .topBarSmallViewOptions .icon {
        float: right;
    }

    /* Tables */
    table tbody tr td {
        font-size: 0.75rem;
    }
}