/* General */

*,
*::before,
*::after {
  box-sizing: border-box;
}


*:focus {
    outline: 0;
}

.w-25 {
    width: 25% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.full-height {
    /* Full height reduced by topbar height */
    height: calc(100vh - 60px);
}

.center {
    display: flex;
    justify-content: center;
}

.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pointer {
    cursor: pointer;
}

/* Buttons */

.btn {
    border: 1px solid transparent;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none !important;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px var(--btn-primary-background-color);
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: var(--btn-primary-background-color);
    color: var(--btn-primary-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--btn-primary-background-color-hover);
    border: 1px solid var(--btn-primary-border-transparent);
}

.button {
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button_dark {
    background-color: var(--black);
    color: var(--white);
}

.button_dark:hover {
    background-color: var(--secondary-background-color);
    color: var(--white);
    border: 1px solid var(--secondary-background-color);
}

#containerView {
    padding: 0.75rem;
}

#containerView .table-responsive {
    max-height: var(--table-view-height);
}

.loader {
    margin: auto;
    border: 15px solid var(--loader-border-color);
    border-radius: 50%;
    border-top: 15px solid var(--white);
    width: 125px;
    height: 125px;
    animation: spinner 2s linear infinite;
    z-index: 100;
    margin-top: 40vh;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    margin: auto;
    z-index: 100;
    background-color: var(--loader-background-color);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.unselectable-style {
    cursor: not-allowed;
    color: var(--unselectable-color);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disableClick {
    pointer-events: none
}

.small-font-size {
    font-size: 12px;
}

.normal-font-size {
    font-size: 14px;
}

.large-font-size {
    font-size: 20px
}

/* Appview */
#appView {
    height: var(--view-container-height);
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Modals */
.btn-close {
    color: var(--primary-text-color);
}

.modal-header .btn {
    color: #656d76;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.modal-header .btn:hover {
    background-color: #e7e7e7 !important;
    color: black;
}

.modal-content {
    border-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.modal-header {
    padding: 10px 1rem;
    border-bottom: 1px solid var(--modal-primary-border-color);
    background-color: var(--modal-primary-background-color);
    color: var(--modal-primary-text-color);
    border-top-left-radius: calc(1rem - 10px);
    border-top-right-radius: calc(1rem - 10px);
}

#modal-body {
    background-color: var(--modal-secondary-background-color);
    padding: 1rem;
    max-height: 75vh;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

#modal-body #message {
    font-size: 15px;
}

.modal-footer {
    padding: 5px 1rem;
    border-bottom-left-radius: calc(1rem - 10px) !important;
    border-bottom-right-radius: calc(1rem - 10px) !important;
}

#modal-body input {
    background-color: var(--modal-secondary-background-color);
}

#modal-body::-webkit-scrollbar {
    display: none;
}

.modal-footer {
    border-top: 1px solid var(--modal-primary-border-color);
    background-color: var(--modal-primary-background-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modal-95 {
    max-width: 95% !important;
}

.modal-85 {
    max-width: 85% !important;
}

.modal-75 {
    max-width: 75% !important;
}

.modal-65 {
    max-width: 65% !important;
}

.modal-55 {
    max-width: 65% !important;
}

/* TopBar */
.topBar {
    height: 60px;
    border: 1px solid var(--primary-topbar-border-color);
    background-color: var(--primary-topbar-background-color);
}

.topBar .icon:hover {
    color: var(--white);
    cursor: pointer;
}

.appTitle .main {
    vertical-align: middle;
    color: var(--primary-topbar-logo-main-text);
}

.appTitle .sub {
    vertical-align: middle;
    color: var(--secondary-background-color);
}

.appTitle .color {
    color: var(--secondary-background-color);
}

.userImage {
    margin-top: 10.5px;
    border-radius: 100px;
}

.topBarIcons {
    padding-top: 20px;
    font-size: 20px;
    color: var(---primary-icon-color);
}

.topBarIcons:hover {
    color: var(--white);
}

.topBarSmallViewOptions .icon:hover {
    color: var(--primary-icon-hover-color);
}

/* SideBar */
.sideBarBackground {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sideBarBtn {
    background-color: var(--primary-sidebar-button);
    border-bottom: 1px solid var(--primary-sidebar-border-color);
    color: var(--primary-sidebar-button-text);
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sideBarBtn:hover {
    background-color: var(--primary-sidebar-button-hover);
}

.sideBarBtn_dark_nav_active {
    border-left: 3px solid var(--secondary-background-color);
    background-color: var(--primary-sidebar-button-hover);
}

.sideBarBackground {
    border: 1px solid var(--primary-sidebar-border-color);
    background-color: var(--primary-sidebar-background-color);
    position: relative;
}

.sideBarTitle {
    font-size: 0.8rem;
}

.sideBarTitle .icon {
    font-size: 1.2rem;
}

.sideBarsideBarBtnBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sideBarButtonTop {
    position: absolute;
    top: 0;
    width: 100%;
}

/* Dropdown*/
.profile-dropdown-item {
    font-size: 0.9rem;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu .dropdown-item {
    padding: 10px 15px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: var(--primary-dropdown-background-hover-color) !important;
    color: var(--primary-dropdown-text-color);
}

.dropdown-menu li a:hover {
    background-color: var(--primary-ha-background-color);
    color: var(--primary-dropdown-text-hover-color);
}

.dropdown-menu li a:active {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
}

/* Inputs */
.form-control,
.select {
    background-color: var(--searchBar-background-color);
    color: var(--searchBar-text-color);
    border-color: var(--searchBar-border-color);
}

.form-control:focus,
.select:focus {
    background-color: var(--searchBar-background-color);
    color: var(--searchBar-text-color);
    border-color: var(--searchBar-border-color);
}

input:focus {
    box-shadow: 0 0 0 2px var(--primary-transparent) !important;
}

input:active {
    box-shadow: 0 0 0 2px var(--primary-transparent) !important;
}

/* Tables */
table tr {
    vertical-align: middle;
}

table tbody tr td {
    padding: 10px !important;
}

.table-row-delete-col {
    width: 1%;
    white-space: nowrap;
}

.nav-link {
    transition: none;
}

/* Nav tabs */
.nav-item .nav-link {
    border: 1px solid var(--nav-tab-border-color);
    text-decoration: none;
    color: var(--nav-tab-color) !important;
}

.nav-item .nav-link:hover {
    border-color: var(--nav-tab-border-color);
}

.nav-item .active {
    border: none;
    background-color: var(--nav-tab-active-background-color) !important;
    color: var(--nav-tab-active-color-color) !important;
}

.nav-tabs {
    border-bottom: 1px solid var(--nav-tab-bottom-border-color);
}

/* Cards */
.card-body {
    color: var(--card-text-color);
    background-color: var(--card-body-color);
}

.card-body input {
    color: var(--card-text-color);
    background-color: var(--card-body-color) !important;
}

.card-body select {
    color: var(--card-text-color);
    background-color: var(--card-body-color) !important;
}

.card-body select:focus,
.card-body select:active,
.card-body select:visited {
    box-shadow: none;
}

.card-header {
    color: var(--card-text-color);
    background-color: var(--card-body-header-color);
}

.card-title {
    margin: 0.5rem 0;
}

.card {
    padding: 0 !important;
    border: none;
    border-left: 2px solid var(--primary);
}

/* hr */
hr {
    background-color: var(--hr-color);
    opacity: 1;
}

/* Date Picker */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 1;
}

input[type="date"] {
    color: var(--date-picker-text-color);
    color-scheme: var(--color-scheme);
}