:root.dark-theme {
    --white: #FFF;
    --black: #000;

    --primary: #ff3c00f1;

    --primary-background-color: #010409;
    --primary-text-color: #fff;

    /* Sidebar */
    --primary-sidebar-border-color: #21262d;
    --primary-sidebar-background-color: #0d1117;
    --primary-sidebar-button: #0d1117;
    --primary-sidebar-button-hover: #18202b;
    --primary-sidebar-button-text: #fff;

    /* Topbar */
    --primary-topbar-background-color: #161b22;
    --primary-topbar-border-color: #010409;
    --primary-topbar-logo-main-text: var(--white);

    /* Background / Border = bb */
    --secondary-bb-color: #ddd;
    --secondary-background-color: #ff3c00f1;

    /* Hover / Active = ha */
    --primary-ha-background-color: #5b6770;
    ---primary-icon-color: #a0aab6;
    --primary-icon-hover-color: var(--white);

    /* Button */
    --primary-btn-background-color: #fff;
    --primary-btn-border-color: #a0aab6;
    --primary-btn-hover-background-color: #f8f8f8;
    --primary-btn-text-color: #161b22;

    /* Form Overlay */
    --form-overlay-background: rgba(0, 0, 0, 0.466);

    /* Loader */
    --loader-border-color: #343a40;
    --loader-background-color: rgba(0, 0, 0, 0.5);

    /* Unselectable */
    --unselectable-color: rgb(171, 171, 171);

    /* Searchbar */
    --searchBar-background-color: #010409;
    --searchBar-text-color: #fff;
    --searchBar-border-color: #30363d;

    /* Login Screen Options */
    --login-option-background-color: #dfedfa;
    --primary-dropdown-text-color: var(--white); 

    /* Dropdowns */
    --primary-dropdown-background-hover-color: #262b30;

    /* Tables */
    /* --primary-table-background-color: #212529;
    --primary-table-text-color: var(--white); */

    --view-container-height: calc(100vh - 60px);
    --table-view-height: calc(100vh - 26vh);
}