/* Common */

:root {
  /* Background / Border = bb */
  --main-bb-color: #000;
  --secondary-bb-color: #ddd;
  --main-text-color: #fff;
  --secondary-background-color: #ff3c00f1;
  /* Hover / Active = ha */
  --primary-ha-background-color: #5b6770;
  --primary-icon-color: #a0aab6;
  --primary-icon-hover-color: var(--main-bb-color);
  --view-container-height: calc(100vh - 60px);
  --table-view-height: calc(100vh - 26vh);
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.full-height {
  /* Full height reduced by topbar height */
  height: calc(100vh - 60px);
}

.center {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.button {
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  padding: 10px;
  border: 1px solid var(--main-bb-color);
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button_dark {
  background-color: var(--main-bb-color);
  color: var(--main-text-color);
}

.button_dark:hover {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
  border: 1px solid var(--secondary-background-color);
}

/* SideBar */

.sideBarBtn {
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sideBarBtn_dark {
  background-color: var(--main-bb-color);
  border-color: var(--main-bb-color);
  color: var(--main-text-color);
}

.sideBarBtn_dark:hover {
  background-color: var(--primary-ha-background-color);
}

.sideBarBtn_dark_nav_active {
  border-left: 3px solid var(--secondary-background-color);
  background-color: var(--primary-ha-background-color);
}

/* TopBar */

.appTitle .color {
  color: var(--secondary-background-color);
}

.dropdown-menu li a:hover {
  background-color: var(--primary-ha-background-color);
  color: var(--main-text-color);
}

.dropdown-menu li a:active {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

/* Media Queries for all */

/* Mobile View */
@media (max-width: 769px) {
  .desktop {
    display: none;
  }

  #appView {
    display: block;
  }

  #sideBar {
    width: 100%;
    height: fit-content;
    display: none;
  }

  .appTitle {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    /* letter-spacing: 2px; */
  }

  .topBar .icon {
    padding-top: 15px;
    font-size: 20px;
    color: var(--primary-icon-color);
  }

  .topBar .icon:hover {
    color: black;
    cursor: pointer;
  }

  .topBarDesktopOptions {
    display: none;
  }

  .topBarmobileViewOptions {
    display: block;
  }

  .topBarmobileViewOptions .icon {
    float: right;
  }
}

@media (min-width: 769px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  #appView {
    display: block;
  }

  .appTitle {
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
    /* letter-spacing: 2px; */
  }

  #sideBarToggle {
    display: none;
  }

  #sideBar {
    display: block;
  }

  .sideBarBackground {
    height: calc(100vh - 60px);
  }

  .topBarmobileViewOptions {
    display: none;
  }
}