/* Common */

:root {
  --white: #FFF;
  --black: #000;
  
  /* Background / Border = bb */
  --secondary-bb-color: #ddd;
  --secondary-background-color: #ff3c00f1;

  /* Hover / Active = ha */
  --primary-ha-background-color: #5b6770;
  --primary-icon-color: #a0aab6;
  --primary-icon-hover-color: var(--black);
  --view-container-height: calc(100vh - 60px);
  --table-view-height: calc(100vh - 26vh);

  /* Form Overlay */
  --form-overlay-background: rgba(0, 0, 0, 0.466);
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.full-height {
  /* Full height reduced by topbar height */
  height: calc(100vh - 60px);
}

.center {
  display: flex;
  justify-content: center;
}

.center-div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.button {
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button_dark {
  background-color: var(--black);
  color: var(--white);
}

.button_dark:hover {
  background-color: var(--secondary-background-color);
  color: var(--white);
  border: 1px solid var(--secondary-background-color);
}

#containerView .table-responsive {
  max-height: var(--table-view-height);
}

.loader {
  margin: auto;
  border: 15px solid #343a40;
  border-radius: 50%;
  border-top: 15px solid #ffffff;
  width: 125px;
  height: 125px;
  animation: spinner 2s linear infinite;
  z-index: 100;
  margin-top: 40vh;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  margin: auto;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.unselectable-style{
  cursor: not-allowed;
  color: rgb(171, 171, 171);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disableClick {
  pointer-events: none
}

.small-font-size{
  font-size: 12px;
}

.normal-font-size{
  font-size: 14px;
}

.large-font-size{
  font-size: 20px
}

/* SideBar */

.sideBarBtn {
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sideBarBtn_dark {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.sideBarBtn_dark:hover {
  background-color: var(--primary-ha-background-color);
}

.sideBarBtn_dark_nav_active {
  border-left: 3px solid var(--secondary-background-color);
  background-color: var(--primary-ha-background-color);
}

/* TopBar */

.appTitle .color {
  color: var(--secondary-background-color);
}

.dropdown-menu li a:hover {
  background-color: var(--primary-ha-background-color);
  color: var(--white);
}

.dropdown-menu li a:active {
  background-color: var(--secondary-background-color);
  color: var(--white);
}

/* Media Queries for all */

/* Mobile View */
@media (max-width: 769px) {
  .desktop {
    display: none;
  }

  #appView {
    display: block;
  }

  #sideBar {
    width: 100%;
    height: fit-content;
    display: none;
  }

  .appTitle {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    /* letter-spacing: 2px; */
  }

  .topBar .icon {
    padding-top: 15px;
    font-size: 20px;
    color: var(--primary-icon-color);
  }

  .topBar .icon:hover {
    color: black;
    cursor: pointer;
  }

  .topBarDesktopOptions {
    display: none;
  }

  .topBarmobileViewOptions {
    display: block;
  }

  .topBarmobileViewOptions .icon {
    float: right;
  }
}

@media (min-width: 769px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  #appView {
    display: block;
  }

  .appTitle {
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
    /* letter-spacing: 2px; */
  }

  #sideBarToggle {
    display: none;
  }

  #sideBar {
    display: block;
  }

  .sideBarBackground {
    height: calc(100vh - 60px);
  }

  .topBarmobileViewOptions {
    display: none;
  }
}