@media (min-width: 769px) {
    .desktop {
      display: block;
    }
  
    .mobile {
      display: none;
    }
  
    #appView {
      display: block;
    }
  
    .appTitle {
      font-size: 30px;
      font-weight: 700;
      padding-top: 5px;
      /* letter-spacing: 2px; */
    }
  
    #sideBarToggle {
      display: none;
    }
  
    #sideBar {
      display: block;
    }
  
    .sideBarBackground {
      height: calc(100vh - 60px);
    }
  
    .topBarmobileViewOptions {
      display: none;
    }
  }