:root.dark-theme {

    --primary-background-color: #010409;
    --primary-text-color: #fff;

    /* Sidebar */
    --primary-sidebar-border-color: #21262d;
    --primary-sidebar-background-color: #0d1117;
    --primary-sidebar-button: #0d1117;
    --primary-sidebar-button-hover: #18202b;
    --primary-sidebar-button-text: #fff;

    /* Hover / Active = ha */
    --primary-ha-background-color: #5b6770;
    ---primary-icon-color: #a0aab6;
    --primary-icon-hover-color: var(--white);

    /* Searchbar */
    --searchBar-background-color: var(--primary-background-color);
    --searchBar-text-color: #fff;
    --searchBar-border-color: #30363d;

    /* Dropdowns */
    --primary-dropdown-background-hover-color: #262b30;
    --primary-dropdown-text-hover-color: var(--white);
    --primary-dropdown-text-color: var(--white);

    /* Modals */
    --modal-primary-border-color: #212529;
    --modal-primary-background-color: #161b22;
    --modal-secondary-background-color: #0d1117;
    --modal-primary-text-color: #ffffff;

    /* Nav tabs */
    --nav-tab-color: var(--primary-text-color);
    --nav-tab-border-color: #30363d;
    --nav-tab-active-background-color: #ff3c00f1;
    --nav-tab-active-color-color: #ffffff;
    --nav-tab-hover-background-color: #ff3c00f1;
    --nav-tab-hover-color-color: #ffffff;
    --nav-tab-bottom-border-color: #30363d;

    /* Cards */
    --card-body-color: #161b22;
    --card-body-header-color: #1f2630;
    --card-text-color: #ffffff;

    /* hr */
    --hr-color: #30363d;
}