:root {

  --primary-background-color: #f6f8fa;
  --primary-text-color: #000;

  /* Sidebar */
  --primary-sidebar-border-color: #d8dee4;
  --primary-sidebar-background-color: #ffffff;
  --primary-sidebar-button: #ffffff;
  --primary-sidebar-button-hover: #d0d7de;
  --primary-sidebar-button-text: #000;

  /* Hover / Active = ha */
  --primary-ha-background-color: #ddd;
  ---primary-icon-color: #a0aab6;
  --primary-icon-hover-color: var(--white);

  /* Searchbar */
  --searchBar-background-color: #ffffff;
  --searchBar-text-color: #000;
  --searchBar-border-color: #d0d7de;

  /* Dropdowns */
  --primary-dropdown-background-hover-color: #d0d7de;
  --primary-dropdown-text-hover-color: var(--black);
  --primary-dropdown-text-color: var(--black);

  /* Modals */
  --modal-primary-border-color: #d0d7de;
  --modal-primary-background-color: #f0f0f0;
  --modal-secondary-background-color: #f0f0f0;
  --modal-primary-text-color: #000000;

  /* Nav tabs */
  --nav-tab-color: var(--primary-text-color);
  --nav-tab-border-color: #dee2e6;
  --nav-tab-active-background-color: var(--primary);;
  --nav-tab-active-color-color: #ffffff;
  --nav-tab-hover-background-color: var(--primary);;
  --nav-tab-hover-color-color: #ffffff;
  --nav-tab-bottom-border-color: #dee2e6;

  /* Cards */
  --card-body-color: #f8f8f8;
  --card-body-header-color: #f8f8f8;
  --card-text-color: #000000;

  --hr-color: #d0d7de;

  /* DatePicker */
  --date-picker-icon-color-inversion: 0;
  --date-picker-text-color: #000000;

  --color-scheme: light;
}